rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // SZIGORÚAN TESZTELÉSRE: Mindenkinek engedélyezzük az olvasást és írást a felhasználói mappákba
    match /users/{userId}/{document=**} {
      allow read, write: if true;
    }
    
    // Minden egyéb kollekcióra is engedélyezzük a teszt kedvéért
    match /invites/{email} {
      allow read, write: if true;
    }

    // Globális tiltás minden másra
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
